// File Name: _footer.scss
// Description: global footer styles
// Used by: Page.scss
// Dependencies:
// ------------------------------------------------------------

/* =============================================================
@   ## footer
   ============================================================= */

footer {
	background:#EDEDED;
	color:#AAAAAA;
	font-size:.875rem;

	.row div {padding-top:15px;padding-bottom:12px;
		&.newsletter {padding-top:7px;padding-bottom:7px;
			input {height:1.7rem;margin-bottom:0;font-size:.75rem;}
		}
	}
}
