// ------------------------------------------------------------
// File Name: _footer.scss
// Description: global footer styles
// Used by: global.scss
// Dependencies:
// ------------------------------------------------------------

/* =============================================================
@   ## footer
   ============================================================= */

footer {
	background: $color-bg-grey;
	color: $grey-light2;
	font-size: $font-size-2;

	.row div {
		padding:$spacing 0;
	}
}
