// ------------------------------------------------------------
// File Name: _header.scss
// Description: global header styles
// Used by: global.scss
// Dependencies:
// ------------------------------------------------------------

/* =============================================================
@   ## header
   ============================================================= */

body {
	color: $color-text;
	font-family: $font-family-primary;
}

/* =============================================================
@   ## Parallax
   ============================================================= */
.parallax {
	position: relative;
	overflow: hidden;
	color: #fff;
	@include rem("min-height", 47.563);
	background: {
		position: 49% 0px;
		attachment: fixed;
		repeat: no-repeat;
	}
	@include rem("min-height", $spacing*2);

	.parallax-content {
		@include rem("min-height", 47.563);
		position: relative;
		z-index: 1;
		// background-color: $color-primary;
	}

	.parallax-overlay {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-attachment: scroll;
		background-repeat: repeat;
		background-position: 0 0;
	}

	.parallax-content-inner {
		z-index: 3;
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		@include rem("margin-top", -4.063);
	}

	// Header Logo
	.headline {
		border: 0 !important;
		h1 {
			font-size: $font-size-7*4;
			color: rgba($white,.85);
			text-shadow: rgba($black,.70) 0 1px 0;
			position: relative;
			@include min-breakpoint(40.063) { // Medium Screens
				font-size: $font-size-7*5;
			}

			span {
				position: absolute;
				top:0;
				left: -110px;
				@include min-breakpoint(40.063) { // Medium Screens
					left: -160px;
				}

				&.subcolor {
					color: rgba($white, 0.85);
				}
			}

		}
	}

}

// fix for magellan clone showing up
[data-magellan-expedition-clone] {visibility:hidden;}

#nav {
	@include box-shadow(0, 0, 6px, 0, rgba(0, 0, 0, 0.1));
	padding: 0;
	position: absolute;

	.row {position: relative;}
	.logo-nav {
		padding-left: $spacing*2;
		@include min-breakpoint(64.063) { // Large Screens
			padding-left: 0;
			height: 76px;
			overflow: hidden;
		}


		#logo {
			position: relative;
			display: inline-block;
			font-size: $font-size-5*4;
			@include min-breakpoint(40.063) { // Medium Screens
				font-size: $font-size-5*6;
			}
			@include min-breakpoint(64.063) { // Large Screens
				font-size: $font-size-5*8;
			}

			span {
				position: absolute;
				left: 0;
				top: -2px;
				color: $grey-dark1;
				@include min-breakpoint(40.063) { // Medium Screens
					top: 0;
				}
				@include min-breakpoint(64.063) { // Large Screens
					top: 4px;
				}

				&.subcolor {
					color: $color-primary;
				}
			}
		}
	}

	.sub-nav {
		text-align: right;
		padding-right: $spacing*2;
		position: initial;
		padding-top: 0;
		@include min-breakpoint(64.063) { // Large Screens
			padding-right: 0;
		}

		#mobile-menu-trigger {
			color: $color-text;
			font-size: $font-size-4;
			@include rem("line-height", $spacing*3);
			@include min-breakpoint(40.063) { // Medium Screens
				font-size: $font-size-5;
			}
			@include min-breakpoint(40.063) { // Medium Screens
				@include rem("line-height", $spacing*4);
			}
		}

		dl {
			display: none;
			position: absolute;
			width:100%;
			top:45px;
			left:0;
			background: $white;
			overflow: hidden;
			@include box-shadow(0, 0, 6px, 0, rgba(0, 0, 0, 0.1));
			@include min-breakpoint(40.063) { // Large Screens
				top: 60px;
			}
			@include min-breakpoint(64.063) { // Large Screens
				display: block !important;
				position: relative;
				float: right;
				margin:0;
				width: auto;
				height: auto;
				top: auto;
				left: auto;
				background: transparent;
				@include box-shadow(0, 0, 0, 0, rgba(0, 0, 0, 0));
			}

			dd {
				position: relative;
				white-space: nowrap;
				display: block;
				width: 100%;
				text-align: left;
				height: auto;
				margin: 0;
				border-bottom: 1px solid $color-border;

				@include min-breakpoint(64.063) { // Large Screens
					display: inline;
					width: auto;
					text-align: right;
					height: 76px;
					border: 0;
				}

				a {
					@include rem("padding",.5, 2);
					width: 100%;
					display: block;
					background: $white;
					font-family: $font-family-headers;
					text-transform: uppercase;
					border-bottom: 2px solid transparent;
					border-radius: 0;
					color: $color-text;
					@include rem("font-size", $font-size-3);
					@include single-transition(all, 0.3s, ease, 0s);
					@include min-breakpoint(64.063) { // Large Screens
						@include rem("padding",1.6, 1);
						width: auto;
						display: inline;
						background: transparent;
						@include rem("line-height", 4.938);

						@include rem("font-size", $font-size-3);
					}

					&:hover {
						color: $color-primary;
						background: rgba($color-primary, .1);

						@include min-breakpoint(64.063) { // Large Screens
							background: transparent;
						}
					}
				}

				&.active a {
					background: $color-bg-grey;
					@include hoverFocus("color", $color-text);

					@include min-breakpoint(64.063) { // Large Screens
						background: transparent;
						border-bottom-color: $color-primary;
					}
				}
			}
		}
	}
	// &.fixed .sub-nav dd a {
	// 	@include rem("padding", $spacing);
	//  	@include rem("line-height", 3.438);
	// }
}


// Responsive Styles
@include min-breakpoint(40.063) { // Medium Screens

}

@include min-breakpoint(64.063) { // Large Screens

}