// ----------------------------------------------------------------------
// File Name: _variables.scss
// Description: global variables to keep the site styling constant
// Used by: global.scss
// Dependencies: none
// ----------------------------------------------------------------------

// ----------------------------------------------------------------------
  // Colors
// ----------------------------------------------------------------------
$white 					: #FFFFFF;
$black					: #000000;
$off-black				: #141414; // off-black

$grey-dark4				: #030303;
$grey-dark3				: #212121;
$grey-dark2				: #404040;
$grey-dark1				: #5e5e5e;
$grey					: #7A7A7A;
$grey-light1			: #949494;
$grey-light2			: #AAAAAA;
$grey-light3			: #C4C4C4;
$grey-light4			: #DCDCDC;
$grey-light5			: #EBEBEB;
$grey-light6			: #F2F2F2;

$red					: #EF3F23; // red
$blue					: #4fc0e8; // blue
$yellow					: #ffd955; // yellow
$green					: #1fbe22; // green
$orange					: #fab000; // orange

$color-primary			: #BF1F4F;
$color-secondary		: $grey-dark1;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$color-alert			: $red; // red
$color-info				: $blue; // blue
$color-caution			: $yellow; // yellow

$color-text				: $off-black;
$color-text-dark1		: $grey-dark1;
$color-text-light1		: $grey;

$color-border			: $grey-light4;
$color-border-dark1		: $grey-light2;

$color-bg-grey			: $grey-light5;

// ----------------------------------------------------------------------
	// Font Styles
// ----------------------------------------------------------------------
$font-size-1			: 0.75rem; 				// (12px)
$font-size-2			: 0.875rem; 			// (14px)
$font-size-3			: 1rem; 				// (16px) // Base Font
$font-size-4			: $font-size-3 * 1.25; 	// (20px)
$font-size-5			: $font-size-3 * 2; 	// (32px)
$font-size-6			: $font-size-3 * 3; 	// (48px)
$font-size-7			: $font-size-3 * 4; 	// (64px)

$font-weight-bold		: 700;

// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$font-family-primary	: "PT Sans Narrow", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-family-secondary	: "PT Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-family-headers	: "Oswald", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;

// ----------------------------------------------------------------------
	// Spacing
// ----------------------------------------------------------------------
$global-radius			: 5px;
$spacing				: 0.9375rem; // (15px)